@import "../../styles/scss/modules/global";
@import "variables";

.v-progress-circular {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;

  & > svg {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }

  &--indeterminate {
    > svg {
      animation: $progress-circular-rotate-animation;
      transition: $progress-circular-indeterminate-transition;
      transform-origin: center center;
    }

    .v-progress-circular__overlay {
      animation: $progress-circular-dash-animation;
      stroke-linecap: round;
      stroke-dasharray: 80, 200;
      stroke-dashoffset: 0;
    }
  }

  &__overlay {
    stroke: currentColor;
    transition: $progress-circular-overlay-transition
  }

  &__underlay {
    stroke: map-get($grey, 'lighten-3');
  }

  &__info {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

@keyframes progress-circular-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -125px;
  }
}

@keyframes progress-circular-rotate {
  100% {
    transform: rotate(360deg);
  }
}

