.v-tooltip {

  &__activator {
    display: block;
    height: auto;
    border: none;
  }

  &__content {
    position: absolute;
    z-index: 100;
    padding: 5px;
    border-radius: 5px;
    background: #b6b6b6;
    color: #ffffff;
    pointer-events: none;
    max-height: 32px;

    & > * {
      white-space: nowrap;
    }
  }
}
