@import "../../styles/scss/modules/global";
@import 'variables';

.v-tooltip {
  position: absolute;
  z-index: 100;
  padding: $tooltip-padding;
  border-radius: 5px;
  color: map-get($white, 'base');
  pointer-events: none;
  max-height: 32px;
  text-align: center;
  font-size: $tooltip-font-size;
  line-height: round($tooltip-font-size * 1.6);

  &__activator {
    display: block;
    height: auto;
    border: none;
  }

  & > * {
    display: block;
    white-space: nowrap;
  }
}
