$tooltip-font-size: 14px;

.v-tooltip {
  z-index: 10;

  &__activator {
    display: block;
    height: auto;
    border: none;
  }

  &__content {
    position: absolute;
    z-index: 100;
    padding: 5px;
    border-radius: 5px;
    background: #b6b6b6;
    color: #ffffff;
    pointer-events: none;
    max-height: 32px;
    text-align: center;
    font-size: $tooltip-font-size;
    line-height: round($tooltip-font-size * 1.6);

    & > * {
      display: block;
      white-space: nowrap;
    }
  }
}
