@import "../../styles/scss/modules/global";

.v-autocomplete-list {
  width: 100%;
  background: white;
  transition: all .3s $primary-transition;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, .2);

  & > .v-list > .v-list-item {
    cursor: pointer;
    color: currentColor;

    &:hover:after {
      opacity: .1;
    }
  }
  & > .v-list > .v-select-item--selected {
    &:after {
      opacity: .1;
    }
  }
}
