@import "../../styles/scss/modules/global";

.v-button {
  @include flex(inline-flex, center, center);
  position: relative;
  height: 40px;
  min-width: 40px;
  padding: 1px 6px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  color: $mainWhite;
  font-size: .85rem;
  letter-spacing: .09em;
  text-indent: .09em;
  transition: all .3s ease;

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: currentColor;
    opacity: 0;
    transition: all 0.3s ease;
  }

  &:hover {
    &:active {
      box-shadow: none !important;
    }
  }

  &--disabled {
    background: $disabled;
    border-color: $disabled;
    color: darken(#9a9a9a, 2);

    &.v-button--text {
      .v-button--loading {
        background: none !important;
      }
    }

    &.v-button--outlined {
      .v-button--loading {
        background: none !important;
        border-color: $disabled;
      }
    }
  }

  &--text {
    background: transparent;
    transition: all .2s;

    &:active {
      &:before {
        opacity: .4 !important;
      }
    }

    &:hover:before {
      opacity: .2;
    }
  }

  &--outlined {
    border: thin solid currentColor;

    & > * {
      color: inherit;
    }
  }

  &--rounded {
    border-radius: 50px;
  }

  &--loading {
    pointer-events: none;
    transition: none;

    .v-button__content {
      opacity: 0;
    }
  }

  &__content {
    display: inherit;
    flex: 1 0 auto;
    justify-content: inherit;
    align-items: inherit;
    color: inherit;
    font-weight: 500;
    margin: 0 5px;
  }

  &__loader {
    @include flex(flex, center, center);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__label,
  &__loader {
    & > * {
      font-weight: 500;
    }
  }
}
