@import "../../styles/scss/modules/global";

.v-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 40px;
  min-width: 40px;
  padding: 1px 6px;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  color: map-get($white, 'base');
  font-size: .85rem;
  letter-spacing: .09rem;
  text-indent: .09rem;
  transition: .3s all $primary-transition;

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: currentColor;
    opacity: 0;
    transition: all 0.3s ease;
  }

  &:hover {
    &:active {
      box-shadow: none !important;
    }
  }

  &--disabled {
    background: map-get($states, 'disabled');
    border-color: map-get($states, 'disabled');
    color: map-get($grey, 'darken-1');

    &.v-button--text {
      .v-button--loading {
        background: none !important;
      }
    }

    &.v-button--outlined {
      .v-button--loading {
        background: none !important;
        border-color: map-get($states, 'disabled');
      }
    }

    &:before {
      display: none;
    }
  }

  &--text {
    background: transparent;
    transition: all .2s;

    &:active {
      &:before {
        opacity: .4 !important;
      }
    }

    &:hover:before {
      opacity: .2;
    }
  }

  &--outlined {
    border: thin solid currentColor;

    & > * {
      color: inherit;
    }
  }

  &--rounded {
    border-radius: 50px;
  }

  &--round {
    border-radius: 50%;
  }

  &--loading {
    pointer-events: none;
    transition: none;

    .v-button__content {
      opacity: 0;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    color: inherit;
    font-weight: 500;
  }

  &__loader {
    @include flex(flex, center, center);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__label,
  &__loader {
    & > * {
      font-weight: 500;
    }
  }
}
