.v-skeleton {
  position: relative;
  color: transparent;
  border: none;
  user-select: none;
  box-shadow: none;
  border-radius: 5px;
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    width: 200%;
    height: 100%;
    transform: translateX(-300%);
    background-image: inherit;
    animation: loading 1.8s ease-in-out infinite;
  }

  &--light {
    background-image: linear-gradient(100deg, #dddfe0 30%, #f6f7f8 50%, #dddfe0 70%);
    background-size: 300%;
  }

  &--dark {
    background-image: linear-gradient(100deg, #2b2b2b 30%, #555555 50%, #2b2b2b 70%);
    background-size: 300%;
  }

  &--dynamic {
    transform-origin: left;
    animation: dynamicUp 3.2s ease-in-out infinite;
    opacity: 0;
  }
}

@for $i from 1 through 50 {
  .v-skeleton--dynamic:nth-child(#{$i}) {
    animation: dynamicUp 1.2s #{calc($i * 10/50)}s ease-in-out infinite;
  }
}

@keyframes loading {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(300%);
  }
}

@keyframes dynamicUp {
  0% {
    transform: scaleX(0);
  }
  10% {
    opacity: 1;
  }
  50% {
    transform: scaleX(1);
  }
  80% {
    opacity: 1;
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
    opacity: 0;
  }
}

