.v-skeleton {
  position: relative;
  border: none;
  user-select: none;
  box-shadow: none;
  border-radius: 5px;
  overflow: hidden;
  transform: translateZ(0);

  &:before {
    content: "";
    display: block;
    width: 200%;
    height: 100%;
    transform: translateX(-300%);
    background-image: inherit;
    animation: loading 2.5s ease-in-out infinite;
  }

  &--light {
    background-image: linear-gradient(100deg, currentColor 30%, #f6f7f8 50%, currentColor 70%);
    background-size: 300%;
  }

  &--dynamic {
    transform-origin: center;
    animation: dynamicUp 2s ease-in-out infinite;
    opacity: 0;

    &:before {
      animation: none;
    }
  }
}

@for $i from 1 through 50 {
  .v-skeleton--dynamic:nth-child(#{$i}) {
    animation: dynamicUp 2s #{$i* 10/50}s ease-in-out infinite !important;
  }
}

@keyframes loading {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(200%);
  }
}

@keyframes dynamicUp {
  0% {
    transform: scaleX(0);
  }
  10% {
    opacity: 1;
  }
  50% {
    transform: scaleX(1);
  }
  80% {
    opacity: 1;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
  }
}

