{
  "extends": [
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "max-len": [
      "error",
      {
        "code": 140
      }
    ],
    "prettier/prettier": "error",
    "semi": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "@typescript-eslint/explicit-function-return-type": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "plugins": [
    "prettier"
  ],
  "env": {
    "es6": true
  }
}
