{
  "root": true,
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": [
    "plugin:vue/vue3-recommended"
  ],
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "plugins": [
    "@typescript-eslint/eslint-plugin"
  ],
  "rules": {
    "no-multiple-empty-lines": "error",
    "no-console": "error",
    "no-debugger": "error",

    "vue/html-self-closing": "off",
    "vue/html-closing-bracket-spacing": "off",
    "vue/component-definition-name-casing": ["error", "kebab-case"],
    "vue/no-setup-props-destructure": "off",
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": 1,
        "multiline": {
          "max": 1,
          "allowFirstLine": false
        }
      }
    ]
  }
}
