{
  "root": true,
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "extraFileExtensions": [
      ".vue"
    ],
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "plugins": [
    "@typescript-eslint/eslint-plugin"
  ],
  "rules": {
    "no-multiple-empty-lines": "error",
    "no-console": "off",
    "no-debugger": "error",
    "no-unused-vars": "off",
    "no-var": "error",
    "vue/html-quotes": "error",
    "vue/html-self-closing": "off",
    "vue/valid-v-model": "off",
    "vue/html-closing-bracket-spacing": "off",
    "vue/attribute-hyphenation": "error",
    "vue/component-definition-name-casing": [
      "error",
      "kebab-case"
    ],
    "vue/no-setup-props-destructure": "off",
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": 1,
        "multiline": 1
      }
    ],
    "vue/html-indent": [
      "error",
      2,
      {
        "baseIndent": 1,
        "switchCase": 1,
        "ignores": []
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error"
    ]
  }
}
