@import "../../styles/scss/modules/global";
$select-input-padding: 14px 12px;

.v-select {
  height: 100%;
  width: 100%;

  &__input {
    width: 100%;
    min-height: $input-height;
    padding: $select-input-padding;
    color: currentColor;

    &::placeholder {
      opacity: .3;
      color: currentColor;
    }

    &:disabled {
      color: var(--disabled);
    }
  }

  &__preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    overflow: hidden;
    background-color: map-get($white, 'base');
  }
}

.v-select + .v-input__append-icon > * {
  transition: transform .2s $primary-transition
}

.v-select--expanded + .v-input__append-icon > * {
  transform-origin: center center;
  transform: rotate(180deg);
}

.v-input--has-prepend-icon > .v-input__text-field >
.v-select > .v-select__input {
  padding: 14px 12px 14px 0px;
}

.v-input--has-append-icon > .v-input__text-field >
.v-select > .v-select__input {
  padding: 14px 0px 14px 12px;
}

.v-input--has-prepend-icon.v-input--has-append-icon > .v-input__text-field >
.v-select > .v-select__input {
  padding: 14px 0px;
}

