@import "../../styles/scss/modules/global";

.v-select-list {
  width: 100%;
  z-index: 100;
  transition: all .3s $primary-transition;

  & > .v-list > .v-list-item {
    cursor: pointer;
    color: currentColor;

    &:hover:after {
      opacity: .1;
    }
  }
  & > .v-list > .v-select-item--selected {
    &:after {
      opacity: .1;
    }
  }
}
