$select-input-padding: 22px 12px;

.v-select {
  height: 100%;
  width: 100%;

  &__input {
    width: 100%;
    height: 100%;
    padding: $select-input-padding;

    &::placeholder {
      opacity: .3;
      color: currentColor;
    }

    &:disabled {
      color: currentColor;
    }
  }

  &__preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    overflow: hidden;
    background-color: map-get($white, 'base');
  }
}

.v-select + .v-input__append-icon > * {
  transition: transform .2s $primary-transition
}

.v-select--expanded + .v-input__append-icon > * {
  transform-origin: center center;
  transform: rotate(180deg);
}

.v-input--has-prepend-icon > .v-input__text-field >
.v-select > .v-select__input {
  padding: 22px 12px 22px 0px;
}

.v-input--has-append-icon > .v-input__text-field >
.v-select > .v-select__input {
  padding: 22px 0px 22px 12px;
}

.v-input--has-prepend-icon.v-input--has-append-icon > .v-input__text-field >
.v-select > .v-select__input {
  padding: 22px 0px;
}

