@import "../../styles/scss/modules/global";

.v-menu {
  position: absolute;
  width: 100%;
  min-width: 140px;

  &__content {
    position: absolute;
    display: inline-block;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 3px;
  }

  &__slot {
    //background-color: var(--base);
  }

  &--absolute {
    transition: .15s all $primary-transition;
  }
}
