@import "../../styles/scss/modules/global";

.v-checkbox {
  @include flex(inline-flex, flex-start, center);
  cursor: pointer;

  &__input {
    position: absolute;
    visibility: hidden;
  }

  &__square {
    margin: 0;
  }

  &__label {
    margin-left: 10px;
    line-height: 135%;
  }
}
