@import "../../styles/scss/modules/global";

.v-modal {
  @include flex(flex, center, center);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  padding: 20px;
  overflow: hidden;
}
