$toolbar-logo-min-width: 60px;
$toolbar-nav-btn-min-width: 60px;
$toolbar-items-min-width: 60px;

.v-toolbar {
  display: flex;
  width: 100%;

  &--base {
    background-color: var(--base);
  }

  &--fixed {
    position: fixed;
  }

  &__content {
    display: flex;
    padding: 0 10px;
    height: 100%;
  }

  &__nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: $toolbar-nav-btn-min-width;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $toolbar-logo-min-width;
    height: 100%;
  }

  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $toolbar-items-min-width;
    height: 100%;
  }
}
