@import "../../styles/scss/modules/global";
@import "variables";

.v-data-table__body {
  min-width: 100%;
  z-index: 9;

  &-row {
    @include flex(inline-flex, flex-start, stretch);
    height: $table-row-height;
    min-width: 100%;
    border-radius: $table-border-radius;
    margin: 2px 0;
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, .4);
  }
}
