@import "../../styles/scss/modules/global";
@import "variables";

.v-data-table {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
  max-height: 100%;
  border-radius: $table-border-radius;
  overflow: hidden;
  background-color: var(--base);

  &__inner {
    width: 100%;
    overflow: auto;
  }

  &__toolbar {
    width: 100%;
  }
}
