@import "../../styles/scss/modules/global";

.v-data-table__cell {
  display: flex;
  align-items: center;
  padding: 5px;
  position: relative;

  &-content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    & > .v-icon {
      padding-bottom: .25rem;
    }
  }
}

.text-align--start{
  justify-content: flex-start;
}

.text-align--center {
  justify-content: center;
}

.text-align--end {
  justify-content: flex-end;
}
