@import "../../styles/scss/modules/global";
@import "variables";

.v-data-table {
  @include flex(flex, flex-start, flex-start, column);
  height: 100%;
  max-height: calc(100vh - 50px);
  border-radius: $table-border-radius;
  overflow: hidden;

  &__inner {
    width: 100%;
    padding: 0 2px 2px 2px;
    overflow: auto;
  }
}
