@import "../../styles/scss/modules/global";
@import "variables";

.v-data-table__header {
  @include flex(inline-flex, flex-start, stretch);
  min-width: 100%;
  height: $table-header-height;
  border-bottom-left-radius: $table-border-radius;
  border-bottom-right-radius: $table-border-radius;
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, .4);
  position: sticky;
  top: 0;
  z-index: 10;

  &-title {
    display: block;
  }
}

.v-data-table__header > .v-data-table__cell >
.v-data-table__cell-content > .v-data-table__header-title >
.v-data-table--sort {
  transition: transform .2s linear;
}

.v-data-table--sorted > .v-data-table__cell-content >
.v-data-table__header-title > .v-data-table--sort {
  transform: rotate(180deg);
}



