@import "../../styles/scss/modules/global";
@import "variables";

.v-data-table__footer {
  @include flex(inline-flex, space-between, center);
  flex-shrink: 0;
  width: 100%;
  height: 75px;
  border-top-left-radius: $table-border-radius;
  border-top-right-radius: $table-border-radius;
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, .4);
}

.v-data-table {
  &__pagination {
    margin-left: auto;
    @include flex(flex, flex-start, center);
    padding: 0 20px;

    &-select {
      @include flex(flex, flex-start, center);
      margin: 0 15px;
    }

    &-pages {
      min-width: 150px;
      text-align: center;
    }

    &-label {
      margin: 0 15px;
    }

    &-route {

    }

    &-select > .v-input > .v-input__select-slot >
    .v-select > .v-select-list {
      top: -140px;
    }

    &-select > .v-input > .v-input__select-slot >
    .v-select > .v-select__input {
      text-align: center !important;
    }

    &-select > .v-input > .v-input__select-slot > .v-select >
    .v-select-list > .v-list > .v-list-item > .v-list-item__title {
      text-align: center !important;
    }

    &-select > .v-input {
      width: 50px !important;
    }
  }

  &__toolbar {
    @include flex(flex, center, center);
    padding: 0 20px;

    & > * {
      margin-right: 10px;
    }
  }
}




