@import "../../styles/scss/modules/global";

.v-data-table__cell {
  display: flex;
  align-items: center;
  position: relative;
  padding: 5px;
}

.text-align--start {
  justify-content: flex-start;
}

.text-align--center {
  justify-content: center;
}

.text-align--end {
  justify-content: flex-end;
}
