@import "../../styles/scss/modules/global";

.v-data-table__header {
  @include flex(inline-flex, flex-start, stretch);
  border-bottom: 1px solid rgba(237, 237, 243, 0.82);
  min-width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
}

.v-data-table__header > .v-data-table__cell {
  font-weight: 700;
}

