@import "../../styles/scss/modules/global";

.v-data-table {
  @include flex(flex, flex-start, flex-start, column);
  max-height: 800px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
  overflow: hidden;

  &__inner {
    width: 100%;
    padding: 0 2px 2px 2px;
    overflow: auto;
  }
}
