@import "../../styles/scss/modules/global";

.v-data-table__cell {
  display: flex;
  align-items: center;
  position: relative;

  &-content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    padding: 5px 10px;

    & > .v-icon {
      padding-bottom: .25rem;
    }
  }
}

.text-align--start {
  justify-content: flex-start;
}

.text-align--center {
  justify-content: center;
}

.text-align--end {
  justify-content: flex-end;
}
