@import "../../styles/scss/modules/global";
@import "variables";

.v-data-table__header {
  display: inline-flex;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 100%;
  height: $table-header-height;
  border-bottom-left-radius: $table-border-radius;
  border-bottom-right-radius: $table-border-radius;
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, .4);
  position: sticky;
  top: 0;
  z-index: 5;
}

.v-data-table-col {
  &__title {
    display: block;
  }

  &__filter {
    position: absolute;
    width: 250px;
    top: 100%;
    left: 0;
    padding: 10px;
    border-radius: 3px;
  }

  &__custom-filter {
    position: absolute;
    width: 250px;
    top: 100%;
    left: 0;
    border-radius: 3px;
  }
}

.v-data-table-col__title {
  font-weight: 600;
}

.v-data-table-col > .v-data-table__cell-content {
  display: flex;
  align-items: center;
}

.v-data-table__header > .v-data-table-col > .v-data-table__cell-content >
.v-data-table-col__actions > .v-data-table-col__actions-sort {
  transition: transform .2s linear;
}

.v-data-table__header > .v-data-table-col__number {
  position: sticky;
  left: 0;
  z-index: 20;
}

.v-data-table__header > .v-data-table-col__checkbox {
  position: sticky;
  left: 0;
  z-index: 20;
}

.v-data-table__header > .v-data-table-col__number + .v-data-table-col__checkbox {
  position: sticky;
  left: 50px;
  z-index: 20;
}

.v-data-table-col > .v-resize {
  height: 100%;
  transition: transform .2s linear;
}

.v-data-table-col--sorted > .v-data-table__cell-content >
.v-data-table-col__actions > .v-data-table-col__actions-sort {
  transform: rotate(180deg);
}

.v-data-table__header > .v-data-table-col >
.v-data-table__cell-content > .v-data-table-col__actions >
.v-data-table-col__actions-sort {
  transition: all .2s linear;
}

.v-data-table__header > .v-data-table-col >
.v-data-table__cell-content > .v-data-table-col__actions >
.v-data-table-col__actions-filter {
  transition: all .2s linear;
}

.v-data-table-col > .v-data-table__cell-content > .v-data-table-col__actions >
.v-data-table-col__actions-sort:not(.v-data-table-col__actions-sort--active) {
  opacity: 0;
  visibility: hidden;
}

.v-data-table-col > .v-data-table__cell-content > .v-data-table-col__actions >
.v-data-table-col__actions-filter:not(.v-data-table-col__actions-filter--active) {
  opacity: 0;
  visibility: hidden;
}

.v-data-table-col > .v-resize {
  opacity: 0;
  visibility: hidden;
}

.v-data-table-col:hover .v-resize {
  opacity: 1;
  visibility: visible;
}

.v-data-table-col:hover >
.v-data-table__cell-content > .v-data-table-col__actions >
.v-data-table-col__actions-sort:not(.v-data-table-col__actions-sort--active) {
  visibility: visible;
  opacity: 1;
}

.v-data-table-col:hover >
.v-data-table__cell-content > .v-data-table-col__actions >
.v-data-table-col__actions-filter:not(.v-data-table-col__actions-filter--active) {
  visibility: visible;
  opacity: 1;
}

.v-data-table-col__actions-sort,
.v-data-table-col__actions-filter {
  width: 15px;
  margin: 3px;
  border-radius: 3px;
  transition: all .2s linear;
}


