@import "../../styles/scss/modules/global";

.v-app {
  position: relative;
  font-family: $text-font-family;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  background-color: var(--base);
  color: var(--content);

  &__wrapper {
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
}
