@import "../../styles/scss/modules/global";

.v-app {
  position: relative;
  font-family: $text-font-family;
  text-rendering: optimizeLegibility;
  height: 100vh;
  overflow: auto;
  background-color: var(--base);
  color: var(--content)
}
