.v-preload {

}

.v-preload--in-process {
  color: transparent;
  border: none;
  background: linear-gradient(100deg, #e5e7e8 30%, #f6f7f8 50%, #e5e7e8 70%);
  background-size: 300%;
  animation: loading 1.2s ease-in-out infinite;
  user-select: none;
  border-radius: 3px;

  & > * {
    opacity: 0;
    visibility: hidden;

    &::after,
    &::before {
      width: 0;
      height: 0;
      content: "";
      opacity: 0;
      visibility: hidden;
    }
  }
}

@keyframes loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
