@import "../../styles/scss/modules/global";

.v-menu {
  position: absolute;
  width: 100%;
  min-width: 140px;

  &__content {
    border-radius: 3px;
    overflow: auto;
    transition: .15s all $primary-transition
  }
}
