@import "../../styles/scss/modules/global";

.v-menu {
  position: absolute;
  width: 100%;
  min-width: 140px;

  &__content {
    position: absolute;
    display: inline-block;
    max-width: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 3px;
    transition: .15s all $primary-transition;
  }
}
