@import "../../styles/scss/modules/global";
$input-padding: 5px;

.v-text-field {
  height: 100%;
  width: 100%;

  &__input {
    width: 100%;
    height: $input-height;
    padding: $input-padding;
    color: var(--content);

    &::placeholder {
      opacity: .3;
      color: currentColor;
    }

    &:disabled {
      color: currentColor;
    }
  }
}v
.v-input--has-prepend-icon > .v-input__text-field >
.v-text-field > .v-text-field__input {
  padding: 5px 5px 5px 0px;
}

.v-input--has-append-icon > .v-input__text-field >
.v-text-field > .v-text-field__input {
  padding: 5px 0px 5px 5px;
}

.v-input--has-prepend-icon.v-input--has-append-icon > .v-input__text-field >
.v-text-field > .v-text-field__input {
  padding: 5px 0px;
}
