@import "reset";
@import "modules/animations";
@import "modules/material";
@import "modules/tools";
@import "modules/positions";
@import "modules/sizes";
@import "modules/utils/colors";
@import "modules/utils/elevations";
@import "modules/utils/spaces";
@import "modules/utils/flex";
@import "modules/utils/states";
@import "modules/theme.module";

@each $color_name, $color_color in $colors {
  @each $color_type, $color_value in $color_color {
    @if ($color_type == 'base') {
      .#{$color_name} {
        @include background-color($color_value);
      }

      .#{$color_name}--text {
        @include text-color($color_value);
        @include text-active($color_value);
      }
    }
    .#{$color_name}.#{$color_type} {
      @include background-color($color_value);
    }

    .#{$color_name}--text.text--#{$color_type} {
      @include text-color($color_value);
      @include text-active($color_value);
    }
  }
}

html, body {
  width: 100%;
  height: 100%;
  overflow: auto;
}