@import "../../styles/scss/modules/global";

.v-label {
  font-size: 16px;
  min-height: 8px;
  transition: .3s $primary-transition;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  top: 17px;
  white-space: nowrap;
  pointer-events: none;
  height: 20px;
  line-height: 20px;
  transform-origin: top left;
  will-change: transform;

  &--active {
    transform: translateY(-17px) scale(.75);
  }

  &--is-disabled {
    color: $disabled !important;
  }
}
