@import "../../styles/scss/modules/global";

.v-label {
  color: currentColor;
  transition: .4s left $primary-transition;

  &--on-input {
    position: absolute;
    left: 0;
  }

  &--focused {
    left: 10px;
  }

  &--disabled {
    color: map-get($disabled, 'base');
  }
}
