@import "variables";

@mixin transition-default() {
  &-enter-active,
  &-leave-active {
    transition: .4s all $primary-transition !important;
  }

  &-move {
    transition: transform .4s;
  }
}

.fade {
  @include transition-default();

  &-enter-from, &-leave-to {
    opacity: 0;
  }
}

.scale-in {
  @include transition-default();

  &-enter-from, &-leave-to {
    opacity: 0;
    transform: scale(0);
  }
}

.scale-in-out {
  &-enter-from, &-leave-to {
    opacity: 0;
    transform: scale(.7);
  }

  &-enter-active {
    transition: .2s all $primary-transition !important;
  }

  &-leave-active {
    transform: scale(1.2);
    transition: .2s all $primary-transition !important;
  }
}

.fade-in-down {
  &-enter-from, &-leave-to {
    opacity: 0;
    transform: translateY(-15px);
  }

  &-enter-active {
    transition: .2s all $primary-transition !important;
  }

  &-leave-active {
    transform: translateY(15px);
    transition: .2s all $primary-transition !important;
  }
}

.fade-in-up {
  &-enter-from, &-leave-to {
    opacity: 0;
    transform: translateY(15px);
  }

  &-enter-active {
    transition: .2s all $primary-transition !important;
  }

  &-leave-active {
    transform: translateY(-15px);
    transition: .2s all $primary-transition !important;
  }
}

.slide-in-left {
  &-enter-from, &-leave-to {
    transform: translateX(-100%);
  }

  &-enter-active {
    transition: .2s all $primary-transition !important;
  }

  &-leave-active {
    transform: translateX(100%);
    transition: .2s all $primary-transition !important;
  }
}


