@import "variables";

@mixin transition-default() {
  &-enter-active,
  &-leave-active {
    transition: .4s all $primary-transition !important;
  }

  &-move {
    transition: transform .4s;
  }
}

.fade {
  @include transition-default();

  &-enter-from, &-leave-to {
    opacity: 0;
  }
}

.scaleIn {
  @include transition-default();

  &-enter-from, &-leave-to {
    opacity: 0;
    transform: scale(0);
  }
}



