.slideInUp-enter-from, .slideInUp-leave-to {
  opacity: 0;
  transform: translateY(50px);
}

.slideInUp-enter-active, .slideInUp-leave-active {
  transition: all .2s linear;
}

.slideInLeft-enter-from, .slideInLeft-leave-to {
  opacity: 0;
  transform: translateX(-50px);
}

.slideInLeft-enter-to, .slideInLeft-leave-from {
  opacity: 1;
  transform: translateX(0);
}

.slideInLeft-enter-active, .slideInLeft-leave-active {
  transition: all .2s linear;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.scaleIn-enter-from, .scaleIn-leave-to {
  opacity: 0;
  transform: scale(.7);
}

.scaleIn-enter-to, .scaleIn-leave-from {
  opacity: 1;
  transform: scale(1);
}

.scaleIn-enter-active, .scaleIn-leave-active {
  transition: all .2s;
}

.scaleXDown-enter-from, .scaleXDown-leave-to {
  opacity: 0;
  transform: scaleY(0);
}

.scaleXDown-enter-to, .scaleXDown-leave-from {
  opacity: 1;
  transform: scaleY(1);
}

.scaleXDown-enter-active, .scaleXDown-leave-active {
  transition: all .2s;
}



