@mixin background-color($color_value) {
  background-color: $color_value;
  border-color: $color_value;
}

@mixin text-color($color_value) {
  color: $color_value;
  caret-color: $color_value;
}

@mixin text-active($color) {
  &:hover {
    &:active {
      &:before {
        background: $color;
        opacity: .3;
        transition: opacity .3s;
      }
    }
  }
}

@each $color_name, $color_color in $colors {
  @each $color_type, $color_value in $color_color {
    @if ($color_type == 'base') {
      .#{$color_name} {
        @include background-color($color_value);
      }

      .#{$color_name}--text {
        @include text-color($color_value);
        @include text-active($color_value)
      }
    }
    .#{$color_name}.#{$color_type} {
      @include background-color($color_value);
    }

    .#{$color_name}--text.text--#{$color_type} {
      @include text-color($color_value);
      @include text-active($color_value)
    }
  }
}
