@mixin background-color($color_value) {
  background-color: $color_value !important;
  border-color: $color_value !important;
}

@mixin text-color($color_value) {
  color: $color_value !important;
  caret-color: $color_value !important;
}

@mixin text-active($color) {
  &:hover {
    &:active {
      &:before {
        background: $color;
        opacity: .3;
        transition: opacity .3s;
      }
    }
  }
}
