// Fonts
$text-font-family: "Roboto", sans-serif;
$heading-font-family: $text-font-family !default;

// Size
$mainFontWeight: normal;
$mainFontSize: 16px;

$desktopWidth: 1440px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Transitions
$primary-transition: cubic-bezier(.25, .8, .5, 1)
