@import "../../styles/scss/modules/global";

.v-card {
  @include flex(center, center, column);
  width: auto;
  background: $mainWhite;
  border-radius: 5px;
  position: relative;

  &__title {
    @include flex(flex, flex-start, center);
    width: 100%;
    padding: 5px 20px;
    min-height: 45px;
    font-size: 1.4rem;
    position: relative;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  &__subtitle {
    padding: 5px 20px;
    font-size: 1rem;
  }

  &__content {
    text-align: left;
    width: 100%;
    min-height: 100px;
    font-size: 1rem;
    padding: 20px;
    line-height: normal;
  }

  &__actions {
    @include flex(flex, flex-start, center);
    width: 100%;
    min-height: 60px;
    padding: 0 20px;
    position: relative;
  }
}
