@import "../../styles/scss/modules/global";

.v-chip {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: 32px;
  border-radius: 15px;
  cursor: pointer;
  padding: 0 8px;

  &__content {
    flex-grow: 1;
    text-align: center;
    line-height: 32px;
    padding: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  &--disabled {
    background-color: var(--disabled);
    pointer-events: none;
  }
}
