@import "../../styles/scss/modules/global";

.v-badge {
  display: inline-block;
  position: relative;

  &__badge {
    @include flex(flex, center, center);
    border-radius: 50px;
    position: absolute;
    z-index: 10;
    font-size: 10px;
    font-weight: 700;
    min-width: 26px;
    min-height: 26px;
    text-align: center;
    overflow: hidden;
    will-change: transform;
  }

  &__content {
    display: inherit;
    margin: auto;
    padding: 3px;
  }

  &__badge-slot {
    & > * {
      width: 100%;
      min-height: 100%;
      object-fit: contain;
      color: map-get($white, 'base');
    }
  }

  &.v-badge--avatar > .v-badge__badge {
    position: relative;
    width: 90px;
    min-width: 90px;
    height: 90px;
    z-index: 8;
  }

  &.v-badge--dot > .v-badge__badge {
    min-width: .5rem;
    min-height: .5rem;
    padding: 2px;
  }

  &.v-badge--border > .v-badge__badge {
    border-color: map-get($white, 'base') !important;
    border-width: .18rem;
    border-style: solid;
  }
}
