@import "../../styles/scss/modules/global";

.v-list-item {
  @include flex(flex, flex-start, center);
  flex: 1 1 100%;
  width: 100%;
  min-height: 48px;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  transition: all .3s $primary-transition;

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .1);
    opacity: 0;
    transition: opacity .3s $primary-transition;
  }

  &:hover .v-list-item:after {
    opacity: 1;
  }

  &--active {
    cursor: pointer;
  }

  &__title {
    display: block;
    width: 100%;
    padding: 0 10px;
  }

  &__icon {
    min-width: 48px;
    @include flex(flex, center, center)
  }
}
