.v-list {
  overflow: hidden;

  &--active {
    & > .v-list-item:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, .05);
      opacity: 0;
      transition: opacity .2s linear;
    }

    & > .v-list-item:active {
      &:before {
        display: none;
      }
    }

    & > .v-list-item:hover {
      &:before {
        opacity: 1;
      }
    }
  }
}
