@import "../../styles/scss/modules/global";
@import "variables";

.v-list-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  border: none;
  transition: all .3s $primary-transition;

  &--dark > .v-list-group__items > .v-list-item:not(.v-list-item--active) {
    color: #ffffff !important;
  }

  &--dark > .v-list-group__items > .v-list-group:not(.v-list-group--active) {
    color: #ffffff !important;
  }

  &--light > .v-list-group__items > .v-list-item:not(.v-list-item--active) {
    color: rgba(0, 0, 0, .87) !important;
  }

  &--light > .v-list-group__items > .v-list-group:not(.v-list-group--active) {
    color: rgba(0, 0, 0, .87) !important;
  }

  &--active {
    color: currentColor
  }

  &__items > .v-list-item {
    cursor: pointer;

    &:hover:after {
      opacity: .1;
      color: currentColor;
    }
  }

  &__items > .v-list-group__sub-group > .v-list-group__header {
    padding-left: 24px;
  }

  &__header {
    height: 48px;

    &:hover {
      cursor: pointer;
    }
  }

  &__header > .v-list-group__append-icon {
    min-width: $append-icon-min-width;
    flex-shrink: 0;
    flex-grow: 0;
    min-height: 100%;
  }

  &__header > .v-list-group__prepend-icon {
    min-width: $prepend-icon-min-width;
    flex-shrink: 0;
    flex-grow: 0;
    min-height: 100%;
  }

  &__header > .v-list-item__title {
    width: 100%;
    line-height: calc(1rem * 1.6);
    text-align: left;
  }

  &__header--sub-group > .v-list-group__prepend-icon {
    min-width: $append-icon-min-width;
    flex-shrink: 0;
    flex-grow: 0;
    min-height: 100%;
  }

  &__items > .v-list-group--active .v-list-group__header {
    .v-list-group__append-icon > .v-icon {
      transform: none;
    }
  }

  &--active > .v-list-group__header >
  .v-list-group__append-icon > .v-icon {
    transform: rotate(-180deg);
  }

  &--no-action > .v-list-group__items > .v-list-item {
    //pointer-events: none;
  }


  &__items > .v-list-group--active > .v-list-group__header >
  .v-list-group__prepend-icon .v-icon {
    transform: rotate(-180deg)
  }

  &__sub-group {
    & > .v-list-group__items > .v-list-item {
      padding-left: 84px;
    }

    & > .v-list-group__header--sub-group >
    .v-list-group__prepend-icon {
      min-width: $prepend-icon-max-width;
      flex-shrink: 0;
      flex-grow: 0;
      min-height: $prepend-icon-min-height;
    }

    & > .v-list-group__header >
    .v-list-item__title {
      padding: 0 20px;
    }

    & > .v-list-group__header >
    .v-list-group__prepend-icon + .v-list-item__title {
      padding: 0 10px;
    }
  }

  &__prepend-icon .v-icon {
    transition: all .3s $primary-transition;
  }

  &__append-icon .v-icon {
    transition: transform .3s $primary-transition;
  }

  &__items {
    transition: all .3s $primary-transition;
  }
}
