@import "../../styles/scss/modules/global";

$item-title-padding: 0 10px;
$item-title-font-size: 1rem;
$item-subtitle-font-size: .8rem;
$item-icon-width: 44px;

.v-list-item {
  display: flex;
  align-items: center;
  height: 45px;
  border-bottom: thin solid #eeeeee;
  transition: .4s background-color, color, border $primary-transition;
  position: relative;
  overflow: hidden;
  color: curretnColor;

  &:nth-last-child(1) {
    border-bottom: none;
  }

  &--selected {
    color: map-get($primary, 'base')
  }

  &__icon {
    width: $item-icon-width;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    & > * {
      width: 100%;
      text-align: center;
    }
  }

  &__content {
  }

  &__title {
    padding: $item-title-padding;
    font-size: $item-title-font-size;
  }

  &__subtitle {
    padding: $item-title-padding;
    font-size: $item-subtitle-font-size;
    opacity: .5;
  }
}
