@import "../../styles/scss/modules/global";
@import "./variables";

.v-list-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  transition: $primary-transition .3s all;
  border: none;
  margin: 0;

  &:not(.v-list-group__sub-group) {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .4);
  }

  & > .v-list-group {
    box-shadow: none !important;
  }

  &:hover {
    cursor: pointer;
  }

  &--active {
    transition: all .3s $primary-transition;
  }

  &__header {
    //flex: 1 1 100%;
    height: 48px;

    &--sub-group {
      padding-left: 20px !important;
    }
  }

  &__header > .v-list-group__append-icon {
    min-width: $append-icon-min-width;
    text-align: center;
  }

  &__header > .v-list-group__prepend-icon {
    min-width: $append-icon-min-width;
    text-align: left;
  }

  &__header--sub-group > .v-list-group__prepend-icon {
    min-width: $append-icon-min-width;
    text-align: left;
  }

  &--active > .v-list-group__header >
  .v-list-group__append-icon .v-icon {
    transform: rotate(-180deg);
  }

  &--active > .v-list-group__header--sub-group >
  .v-list-group__prepend-icon .v-icon {
    transform: rotate(-180deg)
  }

  &__title {

  }

  &__icon {

  }


  &__sub-group {
    & > .v-list-group__items > .v-list-group__sub-group >
    .v-list-group__header--sub-group {
      padding-left: 40px !important;
    }
  }

  &__append-icon {

  }

  &__prepend-icon .v-icon {
    transition: all .3s $primary-transition;
  }

  &__append-icon .v-icon {
    transition: transform .3s $primary-transition;
  }

  &__items {
    transition: all .3s $primary-transition;
  }
}
