@import "../../styles/scss/modules/global";
@import "variables";

.v-list-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  border: none;
  transition: all .3s $primary-transition;

  & > .v-list-group {

  }

  &__items > .v-list-item {
    cursor: pointer;

    &:hover:after {
      opacity: .1;
    }
  }

  &__items > .v-list-item--active {
    color: red;
  }

  &__header {
    height: 48px;

    &:hover {
      cursor: pointer;
    }

    &__sub-group {
      padding-left: 20px !important;
    }
  }

  &--not-active > .v-list-group__header {
    &:hover {
      cursor: auto;
    }
  }

  &__header > .v-list-group__append-icon {
    min-width: $append-icon-min-width;
    flex-shrink: 0;
    flex-grow: 0;
    min-height: 100%;
  }

  &__header > .v-list-group__prepend-icon {
    min-width: $prepend-icon-min-width;
    flex-shrink: 0;
    flex-grow: 0;
    min-height: 100%;
  }

  &__header > .v-list-item__title {
    width: 100%;
    line-height: calc(1rem * 1.6);
    text-align: left;
  }

  &__header--sub-group > .v-list-group__prepend-icon {
    min-width: $append-icon-min-width;
    flex-shrink: 0;
    flex-grow: 0;
    min-height: 100%;
  }

  &--expanded > .v-list-group__header >
  .v-list-group__append-icon .v-icon {
    transform: rotate(-180deg);
  }

  &--expanded > .v-list-group__header--sub-group >
  .v-list-group__prepend-icon .v-icon {
    transform: rotate(-180deg)
  }

  &__title {

  }

  &__icon {

  }

  &__sub-group {
    & > .v-list-group__header--sub-group > {

    }

    & > .v-list-group__items > .v-list-item {
      padding-left: 40px !important;
    }

    & > .v-list-group__header--sub-group >
    .v-list-group__prepend-icon {
      min-width: $append-icon-min-width;
      flex-shrink: 0;
      flex-grow: 0;
      min-height: $append-icon-min-height;
    }

    & > .v-list-group__header--sub-group >
    .v-list-item__title {
      padding: 0 20px;
    }

    & > .v-list-group__header--sub-group >
    .v-list-group__prepend-icon + .v-list-item__title {
      padding: 0 10px;
    }
  }

  &__append-icon {

  }

  &__prepend-icon .v-icon {
    transition: all .3s $primary-transition;
  }

  &__append-icon .v-icon {
    transition: transform .3s $primary-transition;
  }

  &__items {
    transition: all .3s $primary-transition;
  }
}
