$date-picker-max-width: 400px;
$date-picker-max-height: 400px;
$date-picker-border-radius: 5px;

$date-picker-hover-background: #064cc4;
$date-picker-hover-color: #ffffff;

$date-picker-header-height: 50px;
$date-picker-years-cell-height: 70px;
