$date-picker-width: 350px;
$date-picker-max-width: 350px;
$date-picker-height: 425px;
$date-picker-border-radius: 5px;

$date-picker-hover-background: #064cc4;
$date-picker-hover-color: #bfb8b8;

$date-picker-header-height: 50px;
$date-picker-years-cell-height: 60px;
$date-picker-month-cell-height: 75px;
