@import "../../styles/scss/modules/global";
@import "variables";

.v-datepicker-header {
  @include flex(flex, space-between, center);

  &__button {
    text-align: center;
    transition: all .2s linear;

    & > .v-icon {
      padding: 15px 20px;
    }

    &:hover {
      background: $date-picker-hover-background;
      color: $date-picker-hover-color !important;
    }
  }
}