@import "../../styles/scss/modules/global";
@import "variables";

.v-datepicker-months {
  @include flex(flex, flex-start, flex-start, column);
  width: 100%;
  overflow: hidden;

  &__row {
    @include flex(flex, flex-start, flex-start);
    width: 100%;
  }

  &__cell {
    @include flex(flex, center, center);
    width: 33.3%;
    padding: 22px;
    cursor: pointer;
    border: thin solid transparent;
    transition: background .2s $primary-transition;

    &--selected {
      border-color: currentColor;
    }

    &:hover {
      color: $date-picker-hover-color !important;
    }
  }
}
