@import "../../styles/scss/modules/global";
@import "variables";

.v-datepicker {
  width: $date-picker-max-width;
  height: $date-picker-height;
  border-radius: $date-picker-border-radius;
  overflow: hidden;

  &__display {
    @include flex(flex, center, center);
    position: relative;
    padding: 20px;
    width: 100%;
    height: 75px;
    overflow: hidden;

    &-inner {
      @include flex(flex, center, center);
      min-width: 100%;
    }

    &-value {
      display: block;
      margin-right: 8px;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 700;
      color: currentColor;

      &:nth-child(1) {
        margin: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 5rem;
        opacity: .1;
      }
    }
  }

  &__body {
    position: relative;
    padding: 20px;
  }
}
