@import "../../styles/scss/modules/global";
@import "variables";


.v-datepicker {
  width: 100%;
  max-width: $date-picker-max-width;
  //max-height: $date-picker-max-height;
  border-radius: $date-picker-border-radius;
  overflow: hidden;
}