@import "../../styles/scss/modules/global";
@import "variables";

.v-datepicker {
  width: $date-picker-max-width;
  height: $date-picker-height;
  border-radius: $date-picker-border-radius;
  overflow: hidden;

  &__display {
    @include flex(flex, center, center);
    padding: 20px;
    width: 100%;
    height: 75px;

    &-value {
      display: block;
      margin-right: 8px;
      font-size: 1.5rem;
      font-weight: 700;
      color: currentColor;
    }
  }

  &__body {
    position: relative;
    padding: 20px;
  }
}
