@import "../../styles/scss/modules/global";
@import "variables";

.v-dates {
  &__week {
    @include flex(flex, flex-start, stretch);
  }

  &__row {
    @include flex(flex, flex-start, stretch)
  }

  &__cell {
    display: block;
    padding: 12px 0;
    width: calc(100% / 7);
    text-align: center;
    border: thin solid transparent;
    cursor: pointer;

    &--current-date {
      border-color: currentColor;
    }

    &--holiday {
      background: #c6c5c5;
    }
  }

  &__day {
    display: block;
    width: calc(100% / 7);
    text-align: center;
    padding: 5px;
  }
}
