@import "../../styles/scss/modules/global";
@import "variables";

.v-months {
  @include flex(flex, flex-start, flex-start, column);
  width: 100%;
  overflow: hidden;

  &__row {
    @include flex(flex, flex-start, flex-start);
    width: 100%;
  }

  &__cell {
    @include flex(flex, center, center);
    width: 33.3%;
    height: $date-picker-month-cell-height;
    cursor: pointer;
    transition: background .2s $primary-transition;

    &:hover {
      background: $primary;
    }
  }
}
