@import "../../styles/scss/modules/global";

.v-years {
  width: 100%;
  max-width: 400px;
  border: 1px solid #696969;
  border-radius: 5px;

  &__header {
    @include flex(flex, flex-start, stretch);
    width: 100%;

    &-button {
      text-align: center;

      & > .v-icon {
        padding: 20px;
      }

      &:hover {
        background: #d2cdcd;
      }
    }

    &-display {
      @include flex(flex, center, center);
      width: 100%;
      min-height: 100%;
    }
  }

  &__row {
    @include flex(flex, center, center);
    width: 100%;
  }

  &__cell {
    width: 25%;
    text-align: center;
    padding: 20px 5px;
    cursor: pointer;

    &:hover {
      background: #d2cdcd;
    }
  }

}