@import "../../styles/scss/modules/global";

$input-height: 48px;
$input-border-radius: 8px;
$input-hints-height: 24px;
$input-label-height: 24px;

.v-input {
  &__label {
    display: flex;
    align-items: flex-start;
    height: $input-label-height;
    line-height: 20px;
    position: relative;
  }

  &__text-field {
    display: flex;
    height: $input-height;
    border: 2px solid currentColor;
    border-radius: $input-border-radius;
    transition: .4s color $primary-transition;
    overflow: hidden;
  }

  &__hints {
    display: flex;
    align-items: center;
    height: $input-hints-height;
    transition: .4s color $primary-transition;
    font-size: .7rem;
  }

  &__prepend-icon {
    flex: 0 0 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
  }

  &__append-icon {
    flex: 0 0 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
  }

  &--primary {
    color: map-get($primary, 'base') !important;
  }

  &--disabled {
    color: map-get($disabled, 'base') !important;
    pointer-events: none;
  }

  //&--focused > .e-input__text-field {
  //  color: map-get($main, 'evo') !important;
  //}
  //
  //&--not-valid {
  //  color: map-get($main, 'evo') !important;
  //}
}
