@import "../../styles/scss/modules/global";

.v-input {
  @include flex(flex, flex-start, flex-start, column);
  flex: 1 1 auto;
  width: 100%;
  position: relative;

  &__select-slot {
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $borderColor;
  }

  &__field-slot {
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $borderColor;
  }

  &__field-slot,
  &__select-slot {
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -1px;
      width: 100%;
      height: 2px;
      transform-origin: center;
      transform: scaleX(0);
      background: $primary;
      transition: all .3s $primary-transition;
      will-change: transform;
    }
  }

  &__status {
    width: 100%;
    height: 25px;
    position: relative;

    &-message {
      font-size: .8rem;
      position: absolute;
      color: $danger;
      bottom: 3px;
    }
  }

  &--focused > .v-input__field-slot:after,
  &--focused > .v-input__select-slot:after, {
    transform: scaleX(1);
  }

  &--not-valid > .v-input__field-slot:after,
  &--not-valid > .v-input__select-slot:after {
    background: $danger;
  }

  &--not-valid > .v-input__field-slot,
  &--not-valid > .v-input__select-slot {
    border-color: $danger !important;
  }
}
