@import "../../styles/scss/modules/global";

.v-input {
  @include flex(flex, flex-start, flex-start, column);
  flex: 1 1 auto;
  width: 100%;
  position: relative;

  &__field-slot {
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $borderColor;

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -1px;
      width: 100%;
      height: 2px;
      transform-origin: center;
      transform: scaleX(0);
      background: $primary;
      transition: all .2s cubic-bezier(0.25, 0.8, 0.5, 1);
      will-change: transform;
    }
  }

  &__status {
    width: 100%;
    height: 25px;
    position: relative;

    &-message {
      font-size: .8rem;
      position: absolute;
      color: $danger;
      bottom: 3px;
    }
  }

  &--focused > .v-input__slot:after {
    transform: scaleX(1);
  }

  &--not-valid > .v-input__slot:after {
    background: $danger;
  }

  &--not-valid > .v-input__slot {
    border-color: $danger !important;
  }
}
